<% layout("/layouts/boilerPlate") %>

<div class="alert alert-danger mt-3" role="alert">
    <h4 class="alert-heading">Oops! >_< </h4>
    <h5><%= err.message %></h5>
    <hr>
    <p class="mb-0">If the issue persists, feel free to seek assistance.</p>
</div>
